---
name: CI kube-all
on: [push, pull_request]

jobs:
  test-all:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Docker
        uses: docker/setup-buildx-action@v1

      - name: Run integration tests via docker-compose
        run: |
          make -C tests tests
        id: make_tests

      - name: Report
        uses: actions/upload-artifact@v3
        with:
          path: github/artifacts/report.txt
